{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 04-13-2014:</h1>
<h2>Molly Stevens</h2>
<h2>The Number Station</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-04-13.jpg');width:100%;height:300px;background-size:contain;background-repeat:no-repeat;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
My name is Molly Stevens, I’m a Junior, and have been doing a show ever since Freshman fall.  The Number Station as an idea however started sophomore year. Quinn Rhi was my co-DJ for one semester previously.  I play a wide variety of music, mostly folky indie rock and electronica derivatives. I often layer in samples of Number Stations, a category of shortwave radio stations that broadcast tones and occasionally seemingly random patterns of numbers and letters. The general thought is that they are used by various espionage groups. They have this haunting hollow paranoid quality to them and a sort of rhythm that makes them sound cool with other music.
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>
Orpheus, duh.
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
Hoppípolla by Sigur Rós does the trick for a happy cry, Throw Me a Rope by KT Tunstall for a sad cry. 
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
I once saw an impromptu wedding conducted by the Decemberists at a Valentine’s day show. In the middle of Chimbley Sweep Colin Meloy turned to the drummer John Moen and said, “So I heard that you are an ordained minister.” Moen said “Yep” and Meloy said “So, does anybody wanna get married?” Out of the crowd this couple was hauled up on stage and the drummer came down from the drums and made up a wedding ceremony. Meanwhile the whole band is still playing the vamp for Chimbley Sweep.  So after the couple “I do” and kiss and go back in to the crowd, the band decides that since they are now basically a wedding band, they decide they need to play wedding reception music. They all improvised little bits of typical wedding reception songs, La Bamba and Mustang Sally and You Are My Sunshine.  This lasted about ten minutes, then they launched right back in to where they had left off in Chimbley Sweep.
And I once saw Sam Beam (of Iron & Wine) honor a shouted request for Freebird.
<br><br>
<i><b>Best song to study to?</b></i><br>
Make My Heart: Latrice Barnett. I found this on a Kaskade mix in the back of WBOR  that has become my go-to my getting’ stuff done music. It’s my favorite song on the mix.
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
BT : These Hopeful Machines - It has so much to listen to, parts that are good for dancing like a maniac and lovely orchestral and quiet bits. It makes a great driving album and I credit it with keeping me going throughout the entirety of Freshman year. I never ever get bored listening to it and don’t think I ever will. <br>

Crosby, Stills, Nash, and Young: So Far- I grew up listening to this album. It is my go to bad day album and makes me feel at home anywhere. <br>

Thievery Corporation: Saudade – I got this album yesterday, and if I were going to be stranded on a desert island tomorrow I’d want something new to listen to for at least a little while. Plus it’s Bossa Novaish stuff, ideal desert island music. 
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
Timber. I openly adore Ke$ha, but the addition of Pitbull, who I would generally rather eat other people’s fingernail clippings than listen to for an extended period of time that adds the guilt to this pleasure.
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
Either or both of the Johns of They Might Be Giants. I have been listening to their music forever. Flood was the first album I ever personally owned. Also in interviews they seem like funny and open dorks who don’t take themselves too seriously despite their awesomeness. It would be cool to meet them because I think they would be just as awkward as I would be.
<br/><br/>
<i><b>Most played song on your iTunes/computer?</b></i><br>
Apollo: Hardwell - It’s because I once turned my speakers off but left this song still playing on repeat for the whole night and the better part of a day. I had no idea until I got back to my house. I do like this song quite a bit, but not THAT much.
<br><br>
<i><b>Favorite place on campus?</b></i><br>
Third Floor Mass Hall on Thursday nights or the WBOR station at any hour.
<br><br>
<i><b>Favorite pair of shoes in your closet?</b></i><br/>
My purple DocMartins, they are my adventure boots and have carried me through my favorite experiences in the last three years. They are mega comfy, I can dance or stand forever in them, and they look decent with most things.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Saturday from 9-10 Eastern , 7-8 Pacific for the California folk. Please do listen in.
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}