{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 04-27-2014:</h1>
<h2>DJ Ash and DJ Lara</h2>
<h2>Sweater Weather</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-04-27.jpg');width:100%;height:300px;background-size:contain;background-repeat:no-repeat;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
    Our show is called Sweater Weather, and our names are DJ Ash and DJ Lara (Ashley Bomboka and Lara Adoumie). We are both in the Class of 2016, and have been DJ’s since the fall of 2013. We play hip-hop and some indie acoustic blends. 
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>
    Drake. Because he articulates the human condition of this generation. 
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
    Lara: Furthest Thing- Drake; <br>
    Ashley: Inevitable – Anberlin
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
    Ashley: “Would have been Drake, had he not cancelled.” 
    Lara: “Of Monsters and Men in New York City… amazing.” 
<br><br>
<i><b>Best song to study to?</b></i><br>
    Ashley: “Stacks by Bon Iver.” <br>
    Lara: “Bed Peace by Jhene Aiko.”
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
    Ashley: “The Dreamer and the Realist by Take Cover; In the Lonely Hour EP by Sam Smith, and Born Sinner by J. Cole.”<br>
    Lara: “Take Care by Drake, Sail Out by Jhene Aiko, and Ceremonials by Florence and Machine.”
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
    Lara: “Or Nah by Ty Dolla $ign.”<br>
    Ashley: “Fat Man Slide.”
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
    Ashley: “Tina Turner or Whitney Houston.”<br>
    Lara: “Ed Sheeran… Or Nicki Minaj.”
<br/><br/>
<i><b>Favorite place on campus?</b></i><br>
    Ashley: “Sills Hall, LMC.”<br>
    Lara: “Hubbard, Shannon Room.”
<br><br>
<i><b>Favorite moon phase?</b></i><br/>
    Ashley: “Waxing gibbus.”
    Lara: “…full moon?” 
<br><br>
<i><b>When can we tune into your show?</b></i><br>
    Lara & Ashley: FRIDAY 9AM!!!! 
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}