{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, XX-XX-20XX:</h1>
<h2>_______________</h2>
<h2>_______________</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/XXXX-XX-XX.jpg');width:100%;height:300px;background-size:contain;background-repeat:no-repeat;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
    
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>

<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
    
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
    
<br><br>
<i><b>Best song to study to?</b></i><br>
    
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
    
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
    
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
    
<br/><br/>
<i><b>Most played song on your iTunes/computer?</b></i><br>
    
<br><br>
<i><b>Favorite place on campus?</b></i><br>
    
<br><br>
<i><b>Favorite pair of shoes in your closet?</b></i><br/>
    
<br><br>
<i><b>When can we tune into your show?</b></i><br>
    
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}