{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 02-26-2014:</h1>
<h2>Itzel Rosales</h2>
<h2>DJ itzebra</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-02-26.jpg');width:100%;height:300px;background-size:contain;background-repeat:no-repeat;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
My name is Itzel, but you can call me DJ itzebra. I’m a sophomore and this is my second semester having a radio show. I play a variety of Latin American music such as, salsa, bachata, pop, rap, cumbia, you name it. I named the show Roaming around because I play music from different countries like Mexico, Peru, Argentina and Columbia.
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>
Greatest musician? I’m not sure. But greatest band is definitely Maná. They are a Mexican rock band from Guadalajara, Mexico and they have been together since 1986! That’s right, they have been together for 28 years. 
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
Say Something by A Great Big World featuring Christina Aguilera definitely tugs at my feelings. I feel like that little boy on a YouTube video who is crying in the backseat of his dad’s car while he listens to the chorus of the song.
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
I went to a 1964: The Tribute concert, it was pretty awesome. The Rolling Stones magazine has named it the “Best Beatles Tribute on Earth.” I remember dancing to the song, “I Saw Her Standing There.” I probably played that song a couple of hundred times after the concert.
<br><br>
<i><b>Best song to study to?</b></i><br>
Anything with a cello. I love the cello, it is not screechy like a violin but it is not as deep as a bass. It is perfect
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
Jarabe de Palo-La Flaca<br>
Calle 13-Entren Los Que Quieran<br>
La Santa Cecilia- Treinta Dias
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
Hahahaha, Dark Horse by Katy Perry. It just gets me all pumped.
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
I would like to meet Pedro Infante, he was a famous Mexican actor AND singer in the 1940s and 1950s. He is the love of my life! He died in a plane crash and some conspiracy theorists believe that he is still alive and that he is hiding. 
<br/><br/>
<i><b>Most played song on your iTunes?</b></i><br>
Ice el Hielo by La Santa Cecilia. They are an awesome music group based in Los Angeles, California.
<br><br>
<i><b>Favorite era of music?</b></i><br>
I don’t really have a favorite music era, I enjoy listening to any genre of music except for screamo.
<br><br>
<i><b>Favorite place on campus?</b></i><br>
I really like the second floor of Searles. Especially when sunlight passes through the window glass and the colors of the light are seen.
<br><br>
<i><b>Favorite vegetable?</b></i><br>
Butternut squash, I think it’s a vegetable.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
You can tune in to Roaming Around every Wednesday from 1-2pm.
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}