{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 05-05-2014:</h1>
<h2>Ben West</h2>
<h2>DJ of the Bird Nerd Thirty</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-05-05.jpg');width:100%;height:300px;background-size:contain;background-repeat:no-repeat;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
    I’m Ben West, Class of 2016 and DJ of the Bird Nerd Thirty. My show is a combination of talk about birds, bird recordings, and a little bit of (human) rock-and-roll. I like to mix the bird songs and calls to emulate certain environments, say the coast of Maine in winter or Bowdoin Campus in spring.
<br/><br/>
<i><b>Favorite bird (visually)?</b></i><br/>
    At this point in my life it’s a toss-up between the pileated woodpecker and the sword-billed hummingbird. The former is huge and majestic, while the latter has a crazy-long bill and commanding presence, despite its small size.
<br/><br/>
<i><b>Favorite bird song (aurally)?</b></i><br>
    This is a tough one… I’m going say winter wren. I thought about purple finch, house finch, rose-breasted grosbeak, hermit thrush, and plain-tailed wren, also.
<br><br>
<i><b>Best response from a listner?</b></i><br>
    My grandma getting up at 6:30 AM Mountain Time to listen to my show and telling me she really liked the show was pretty great.
<br><br>
<i><b>Greatest musician of all time and why?</b></i><br>
    Superb lyrebird. It can basically imitate any sound (chainsaws, other birds, camera shutters, car alarms), and it can make two sounds at once due to dual voice boxes.
<br><br>
<i><b>Song that makes you cry?</b></i><br>
    The European starling imitation of an eastern meadowlark song. The former is invasive and the latter is in decline due to habitat loss.
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
    ZZ Top at the Jones County Fair in Iowa. Or over spring break when I was surrounded by almost a hundred sparrows and there were owls calling and cardinals singing.
<br><br>
<i><b>Best song to study to?</b></i><br>
    Dolphins by Mike Marshall and Darol Anger. It’s instrumental. I find both lyrics and bird songs too distracting.
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
    Stokes Field Guide to Bird Song Eastern Region, Born to Run by Springsteen, and Let It Be by the Replacements. The Stokes Guide so I could hone my ear birding skills for my hopeful escape, Born to Run for Clarence Clemon’s sweet sax, and Let It Be for some alt-rock.
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
    Flashdance…What a Feeling – Irene Cara
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
    The Kaua’i o’o. It’s an extinct Hawaiian bird that had a cool, melancholy song that kind of reminds me of an oriole’s song. I really like the idea of seeing an extinct bird.
<br/><br/>
<i><b>MFavorite Bowdoin Dining soup?</b></i><br>
    Armenian apricot lentil.
<br><br>
<i><b>Favorite place on campus?</b></i><br>
    Bowdoin Pines (for the birds, of course).
<br><br>
<i><b>When can we tune into your show?</b></i><br>
    8:30 AM EST on Fridays!
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}