{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 03-31-2014:</h1>
<h2>Kernan Cross</h2>
<h2>All That Jazz</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-03-31.jpg');width:100%;height:300px;background-size:contain;background-repeat:no-repeat;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
All That Jazz – Kernan Cross – I’ve been doing this show in one form or another, on WBOR, since 1992.  I play mainstream jazz with New Orleans, swing and bop overtones, and emerging artists.
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>
Kennedy Ellington.  Duke Ellington is one of the greatest because of his innovation, vision, imagination, skill, humanity and musicianship.
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
It so strongly conveys the depth of loneliness many people feel, not just an older population about which the song is written.
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
Any performance, often in a small venue, where the artist relates authentically to the audience, is memorable. An amazing concert experience is with an artist of national reputation, who has spent his/her life traveling, give of and enjoying themselves with a small audience.  A past concert with Tom Rush, Jonathan Edwards and Cheryl Wheeler comes to mind.
<br><br>
<i><b>Best song to drive to?</b></i><br>
Often I drive to western swing or bluegrass, with plenty of vocals.  The vocals are on the recordings, BTW.
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
Which Eric Burdon album contains “We’ve Gotta Get Out Of This Place?”  That’s the one. But seriously now, Rubber Soul, Back To Back (Ellington and Johnny Hodges) and Western Standard Time (Asleep At The Wheel).   That’s my choice right now, anyway.
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
Maybe I’m guilty of not having a guilty sing-a-long pleasure.  Well, OK, “Emmylou” by First-Aid Kit.  You got me.
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
Buddy Bolden is my choice.  He was one of the first New Orleans jazz musicians, an almost mythic trumpeter.  Not many details are known about his early life.  There are no recordings, only oral history.  Another would be Bix Beiderbeck so I could intervene to try to stop the drinking which ended his life at 27 years of age. 
<br/><br/>
<i><b>Most played song on your iTunes/computer?</b></i><br>
I have a Victrola.
<br><br>
<i><b>Favorite item of clothing?</b></i><br>
Polar fleece pullover.  Good for most seasons.
<br><br>
<i><b>Favorite place in Maine and why?</b></i><br/>
The Schoodic Peninsula because it's beautiful, isolated, and slow paced even in the summertime.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
All That Jazz airs on Wednesday from 2-4 PM
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}