{% extends "base.html" %}

{% block title %}Downloads{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>Listen to WBOR Anywhere</h1>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">

<p>
<img src="http://a5.mzstatic.com/us/r30/Purple1/v4/2a/18/d3/2a18d33c-793f-5d9e-9dbd-f16a0fc65df8/screen568x568.jpeg" style="float:left; margin-right: 15px;">
<i><b>
	<a href="https://itunes.apple.com/us/app/wbor-brunswick-91.1-fm/id862174967?mt=8" class="btn btn-listen btn-large">WBOR for iOS</a>
</b></i><br>
    
<br/><br/>
<i><b>
	<a href="https://play.google.com/store/apps/details?id=com.rmartinez.wbor.app" class="btn btn-listen btn-large">WBOR for Android</a>
</b></i><br/>

<br/><br/>
<i><b>
	<a href="https://chrome.google.com/webstore/detail/wbor-brunswick-911fm/pjocbpjcmjgffkmffkbealniakflaefd?hl=en" class="btn btn-listen btn-large">WBOR for Chrome</a>
</b></i><br>
    
<br><br>
<i><b>
	<a href='/static/wbor.m3u' class="btn btn-listen btn-large">Play Locally</a>
</b></i><br>
    
<br><br>

</p>
</div>
</div>
{% endblock %}